.wrapper{
  display:flex;

}

.wrapper > div{
  font-size:4vh;
  color:white;
  background:hotpink;
  margin:.1em;
  padding:.3em;
  border-radius:3px;
  flex:1;
}
.wrapper .wrapper > div{
  background:pink;
  color: hotpink;
justify-items : center;
}
img.bas   {
  height: 94px;
  width: 85px;

}
 img.haut  {
  height: 50px;
  width: 550px;

}
