body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
header{
	background:#7CFC00;
}
main{
	display: flex;
	background:#fff;
	height: 100vh;
	justify-content: space-between;
}
aside{
	background: #C0C0C0;
	width: 15vw;
}
nav{
	background: #C0C0C0;
	width: 15vw;
}
article{
	background:#fff;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}
article img {
	padding:5px;
width:300px;
height:200px; 
}

footer{
	background:#7CFC00;
}
footer img{
	padding: 5px;
	width: 30px;
	height: 30px;
}
